asgiref
backports.zoneinfo
blis
certifi
charset-normalizer
ChatterBot
chatterbot-corpus
click
cymem
dj-database-url
Django
dnspython
emoji
gunicorn
idna
joblib
mathparse
murmurhash
nltk
numpy
packaging
Pint
plac
preshed
psycopg2
PyJWT
pymongo
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
six
spacy
SQLAlchemy
sqlparse
srsly
thinc
tqdm
twilio
urllib3
wasabi
whitenoise
